body {
	width: 90%;
	margin: 0 auto;
	background: silver;
}
header {
	margin: 0 auto;
}
h1 {
	text-align: center;
}
ul {
	background: white;
	list-style: none;
	overflow: hidden;	
}
li {
	display: block;
	width: 25%;
	float: left;
}
section {
	border: 1px solid black;
	margin: 20px 0;
	background: rgba(255,255,255,0.84);
	padding: 0 3%;
}
.target {
	background: silver;
	padding: .5px;
}
.target p {
	margin: 5px;
}
.persona {
	background: white;
	padding: .5px;
	margin-bottom: 20px;
}
.persona p {
	margin: 5px;
}
table {
	text-align: left;
	border-spacing: 16px;
	background: white;
	margin-bottom: 20px;
	border: 2px solid silver;
}
th {
	width: 35%;
}
/*.companal {
	overflow: hidden; 
} */
.companal p {
	display: block;
	float: left;
	margin-right: 3%;
	width: 50%;
	clear: both;
}